Prends quelque chose à boire
Sexisme, racisme, homophobie à proscrire !
Pas de spam ou de remarques déplacées svp
Respect et bienveillance
Pas de promotion ou pub svp
Good vibe and chill only
Obligation de follow la chaîne si pas déjà fait ! ;)
